@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1&family=Jua&family=Nanum+Myeongjo&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: black;
    user-select: none;
    font-family: 'Black Han Sans', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;

}

.modalMenu{

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.918);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    z-index: 200;
}

.modalMenu a{
    font-size: 2rem;
    font-weight: 200;
}

.modalMenu a:hover{
    font-size: 2.2rem;
    font-weight: 500;
    color: orange;
}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(16, 11, 36);
    padding: 0 10%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.brand{
    font-size: 2rem;
    color: white;
    font-weight: 200;
}

.menuIcon{
    color: #ffff;
    font-size: 2rem;
    margin-left: auto;
}

.menuIcon:hover{
    color: violet;
}

.closeIcon{
    font-size: 2rem;
    color: white;
    position: fixed;
    top: 10vh;
    right: 10vw;
}

.closeIcon:hover{
    font-size: 3rem;
}

.container section{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home{
    background-color: rgb(16, 34, 66);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.heroImage{
    width: 350px;
    height: 350px;
    border-radius: 650px;
    object-fit: cover;
    opacity: 0;
    object-position: center;
    animation-name: bottomToTop;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    
}

.heroText{
    color: white;
    font-size: 4rem;
    opacity: 0;
    animation-name: bottomToTop;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
}

.about{
    background-image: url(https://picsum.photos/seed/08/900);
    flex-direction: column;
    justify-content: flex-start;

}

.contact{
    background-image: url(https://picsum.photos/seed/5/900);
}

.gallery{
    background-image: url(https://picsum.photos/seed/3/900);
    justify-content: center;
    align-items: center;
    
}

.galIcon{
    font-size: 10rem;
    color: white;
    animation-name: iniRotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.footer{
    width: 100vw;
    height: 20vh;
    display: flex;
    padding: 0 10%;
    color: white;
    background-color: black;
}

.left{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.right{
    width: 70%;
    height: 100%;
    display: flex;
}

.col1, .col2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

.formGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.kirim{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
}

.aboutAlert{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: chartreuse;
    color: black;
    position: sticky;
    top: 10vh;
    left: 0;
}

@keyframes bottomToTop {

        form{
            transform: translateY(20vh);
            opacity: 0;
        }
        to{

            transform: translateY(0);
            opacity: 1;

    }
}

@keyframes iniRotate{
    form{
        transform: rotate(5deg);
        opacity: 0;
    }
    to{

        transform: rotate(360deg);
        opacity: 1;

}